---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Nick Neely</div>
    <div class="text-3xl py-3 font-bold">Full Stack Developer</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a Digital Operation Specialist at Moore Hearing Clinic, and my
        passion for technology is matched only by my love for problem-solving.
        Currently pursuing a degree in Computer Software Development, I'm
        eagerly anticipating my upcoming software developer internship at Lean
        Techniques, a tech consulting company.
      </text>
      <div class="divider my-0"></div>
      <text class="text-lg">
        Away from the keyboard, I cherish my time at the gym and find parallels
        between fitness and my dedication to my professional endeavors. At home,
        I'm greeted by the enthusiastic wagging tail of my 12-year-old yellow
        lab, Rex, and the playful antics of my Maine Coon kitten,
        Oliver – affectionately known as Ollie. They bring a sense of joy and
        companionship to my life, reminding me of the simple pleasures amidst a
        world driven by technology.
      </text>
      <div class="divider my-0"></div>
      <text class="text-lg">
        As I stand on the cusp of completing my degree, I'm excited to apply my
        skills in the real world and grow in the field of software development.
        In addition to my academic and personal pursuits, I find joy in the time
        I spend with my girlfriend, Juli, and the adventure it brings despite
        the distance that separates us.
      </text>
    </div>
    <div class="mt-8 flex">
      <a
        class="btn"
        href="https://www.linkedin.com/in/nick-neely/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a href="/resume.pdf" target="_blank" class="btn btn-outline ml-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ionicon h-6 w-6"
          viewBox="0 0 512 512"
          ><path
            d="M320 336h76c55 0 100-21.21 100-75.6s-53-73.47-96-75.6C391.11 99.74 329 48 256 48c-69 0-113.44 45.79-128 91.2-60 5.7-112 35.88-112 98.4S70 336 136 336h56M192 400.1l64 63.9 64-63.9M256 224v224.03"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"></path></svg
        >
        Download Resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Crumbl Craver"
    img="/crumbl_craver.webp"
    desc="Discover and track the latest Crumbl Cookie flavors with ease! Crumbl Craver, powered by Next.js and Supabase, offers real-time updates, user ratings, and personalized flavor notifications for cookie enthusiasts."
    url="https://crumblcraver.com/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Recipe Realm"
    img="/recipe_realm.webp"
    desc="A web-based platform built with Flask where users can share, view, comment on, and manage their favorite recipes."
    url="https://reciperealm.net"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Exact Change Calculator"
    img="/change_calculator.webp"
    desc="A fast React app to calculate minimal change for any cash amount, powered by Vite for a sleek experience."
    url="https://github.com/nick-neely/exact-change-calculator"
  />

  <!-- Unused Blog interface for future -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
